.auth-div{
    background-color: rgb(246, 242, 242);
    padding: 2rem;
    width: 250px;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 10px;

}
.auth-div form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}
input{
    height: 2rem;
    padding: 0.5rem;
}
form button{
    text-align: center;
    width: 100%;
    height: 3rem;
    border: 1px solid grey;
    background-color: rgb(116, 172, 231);
    border-radius: 30px;
    display: block;
    margin: 0 auto;
    

    
}
.auth-btn{
    width: 320px;
    height: 3rem;
    background-color: rgba(158, 155, 155, 0.626);
    border: 1px solid black;
}
.auth-main-div{
    text-align: center;
}