.auth-div form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.auth-div{
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
}
.auth-div input{
    width: 95%;
    height: 2rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    background-color: rgb(207, 211, 210);
    color: black;
}
.auth-div button{
    background-color: black;
    outline: none;
    color: rgb(207, 211, 210);
}
.auth-main{
    width: 60vw;
    height: 50vh;
    display: flex;
    justify-content: start;
    box-shadow: 
  2px 2px 5px rgba(0, 0, 0, 0.3),
  -2px -2px 5px rgba(182, 127, 127, 0.5);


}
.auth-main img{
    width: 25vw;
    height: 100%;
}
.form-div{
    width: 100%;
    background-color: rgb(119, 84, 84);
}