.profile-div{
    position: fixed;
    top: 15%;
    right: 2%;
    display: flex;
    flex-direction: column;
    width: 80vw;
    text-align: left;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    
}
.profile-form{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    
}
.profile-form label{
    color: black;
    font-weight: bold;
}
.profile-form input{
    width: 20rem;
    height: 1rem;
}
.profile-div button{
    width: 100px;
    height: 40px;
    background-color: rgb(128, 86, 27);
    border-radius: 5px;
    float: left;
    color: antiquewhite;
}
.icons{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}